{% extends 'base.html' %}
{% block body %}

    <!-- start who are we section -->
    <section class="who-are-we">
        <h1 class="text-center">You Need to Hear it From Us?</h1>
        <h2 class="text-center">Ok..</h2>
        <br>
        <div class="col-7 who-p">
            <p>
                We are a Saudi Brand inspired by the heritage and lifestyle of the Japanese
                 Culture, we provide an entertainment
                and social space to our clients, with the highest quality drinks and treats,
                 and continuous surprises on the shelves!
                joy is our native language, and culture is the medium in which we communicate
                 and deliver our ideas through.
                We are minimalists, we help our clients in feeling less stressful and more joyful,
                 we are also detail-oriented, we
                never miss a detail, but don’t worry, it doesn’t mean that we’ll stalk you, but we’ll
                 be able to recognize your laugh,
                distinguish your smile, and feel the joy in your heart if you walked through our doors,
                 we are consistent in what we
                deliver to our clients, as consistency is a way to build a long-term connection with our
                 communities, and
                communities are the essence of our work, they are why we are here from the first place!
            </p>
        </div>
    </section>
    <!-- end who are we section -->

    <!-- start Values section -->
    <section class="value">
        <h1 class="text-center">
            What Values Influences Us ?
        </h1>
        <br>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h3>Sustainability</h3>
                    <p>
                        We choose environment-friendly
                        products, and we sustain a long-term
                        relationships with our customers.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h3>Culture</h3>
                    <p>
                        We offer a multi-cultural experience
                        that can change the way people
                        perceive life and view the world around
                        them.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h3>Connection</h3>
                    <p>
                        We make people connect with themselves
                        and their surroundings by connecting
                        with others. We call it the bonding
                        experiment.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h3>Value Added</h3>
                    <p>
                        We care about the messages being
                        communicated and values being delivered within
                        our services and our through our products for all
                        involved parties.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- end Values section -->

    <!-- start Provide section -->
    <section class="who-are-we">
            <h1 class="text-center">What Do We Exactly Provide in Janken?</h1>
            <br>
            <div class="col-7 who-p">
                <p>
                    In simple words, we provide you an entertainment and social space
                    where you can disconnect from the digital world
                    and connect to the real world through playing and engaging with
                    your surroundings, and we provide you with a unique
                    selections of food and beverages that can make you engage in
                    the moment with your five senses.
                    Disconnecting from the virtual lives and engaging in a real
                    social experiment can make a difference, and the secret is in
                    the “endorphins hormones “, which is “our favorite hormone”!
                    It releases all the stress and activates parts in the brain
                    where you can feel your creative self again, and become more
                    joyful, if you really engaged in the moment.
                </p>
            </div>
    </section>
    <!-- end Provide section -->

    <!-- start main lines section -->
    <section>
        <h1 class="text-center">What Are Our Two Main Lines of Service?</h1>
        <br>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <h3>Entertainment — The Joy Line</h3>
                    <div class="col-11">
                        <p>
                            Let’s start with definitions, to entertain is to make
                            people feel a certain amount of emotions.
                            In our shelves, there are variety of board games, card
                            games, and kinetic games that will make you feel
                            yourself once again.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <h3>Food and Beverage — The Excitement Line</h3>
                    <div class="col-11">
                        <p>
                            To be excited is to not know what to expect, we all like the
                            anticipation of what’s going to be serve.
                            In our bar, there are variety of snacks and beverages options, even for
                            non-coffee lovers; that’ll make you always excited for more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end main lines section -->
    <br>
    <br>
    <br>
    <br>
    <!-- start Work section -->
    <section>
        <h1 class="text-center">What Do We Work on Everyday?</h1>
        <br>
        <div class="col-7 who-p">
            <p>
                We are dreamers, creators, and innovators.
                We want to leave an impact on the society and make a change, it might sound cliche, but it is real.
                Our spaces can be utilized in various of ways, and our shelves are always waiting for something new, we
                welcome you inside Janken at all times, and we come to you with all the passion we have within us, to fill your
                clients with it too.
            </p>
            <br>
            <p>
                And we can’t define ourselves just yet.. as we are shaping ourselves as the days go by.
                We believe that our journey will take us where we want to go, so how about you share this journey with us?
            </p>
        </div>
    </section>
    <!-- end Work section -->
    <br>
    <br>
{% endblock body %}