{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- start hero section -->
    <section>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/01.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/02.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/03.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</section>
<!-- end hero section -->

<!-- start about section -->
<section class="about-section">
    <h2 class="text-center about-h2">About <span><b>Janken</b></span></h2>
    <div class="container">
        <div class="col-12 col-lg-12">
            <h3>
                Janken…
            </h3>
            <h3>
                A <b>Culture-Driven</b> Experience
            </h3>
            <br>
            <p>
                Curiosity is the essence of human nature, and we fulfill our curiosity
                by digging more into the concepts we want to learn more
                about, and for us, our interest revolve around the Japanese Culture.
                The Japanese Culture taught us that everything has a meaning, as they 
                have a concept called “Ikiagi”, which means “having a
                passion that gives value and joy of life”, the “Ikiagi” concept blew our 
                minds, and we wanted to inject it into our work; to
                create something of value to our clients, partners, and even for ourselves.
            </p>
            <br>
            <p>
                <u>But you might ask, from all names and cultural symbols, why Janken?</u>
                <br>
                Janken “じゃんけん” is a cultural keystone, it is a Japanese term that describes 
                the worldwide famous game
                “Rock, Scissors, And Paper”.
                We all know that making decisions can be challenging sometimes, 
                but challenges can be less stressful and more fun if it is
                within a context of a game!
                With “Rock, Scissors, Paper” simple mechanics, you can turn a situation 
                into a competitive and fun experience, you can build
                relationships with people around you, and you can create memories that 
                last for a lifetime.
                And that’s Janken, that’s who we are!
            </p>
        </div>
    </div>
</section>
<!-- end about section -->

<!-- start companies section -->
<section class="companies container">
<div class="row">
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_1610.JPG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3155.JPG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3291.PNG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3328.PNG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3359.JPG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3821.PNG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3910.JPG" alt="">
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <img src="image/IMG_3911.JPG" alt="">
    </div>
</div>
</section>
<!-- end companies section -->

{% endblock body %}