{% extends 'base.html' %}
{% block body %}

 <!-- start signup section -->
 <section class="signup">
  <div>
      <form action="index.html" method="post">
        {% csrf_token %}
          <input type="text" name="user-name" placeholder="Enter your user name">
          <br>
          <input type="password" name="user-pass" placeholder="Enter your password">
          <br>
          <br>
          
          <input type="submit" class="submit" value="Sign Up">
      </form> 
  </div>
</section>
<!-- end signup section -->

        


{% endblock body %}
  