{% extends 'base.html' %}
{% block body %}

 <!-- start signup section -->
 <section class="signup">
  <div>
      <h1 class="text-center">Log In</h1>
      <form  method="post">
        {% csrf_token %}
          <input type="text" name="username" placeholder="Enter your user name">
          <br>
          <input type="password" name="password" placeholder="Enter your password">
          <br>
          <br>
          
          <input type="submit" class="submit" value="Login">
      </form> 
  </div>
</section>
<!-- end signup section -->

        


{% endblock body %}
  